// Centralized responsive breakpoints and mixins
$grid-breakpoints: (
  default: 0,
  tiny: 480px,
  small: 640px,
  medium: 760px,
  large: 992px,
  giant: 1200px,
  cut: 1620px
);

$gridMap: (
  tiny: (width: (480px)),
  small: (width: (640px)),
  medium: (width: (760px)),
  large: (width: (992px)),
  giant: (width: (1200px)),
  cut: (width: (1620px))
);

$nav-breakpoint: large; 

@mixin breakpoint($point, $direction: min) {
  @if map-has-key($gridMap, $point) {
    $width: nth(map-get(map-get($gridMap, $point), width), 1);
    @if $direction == max {
      $width: $width - 0.02px;
    }
    @media (#{$direction+'-width'}: $width) {
      @content;
    }
  }
}