@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6byy39');
  src:  url('fonts/icomoon.eot?6byy39#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6byy39') format('truetype'),
    url('fonts/icomoon.woff?6byy39') format('woff'),
    url('fonts/icomoon.svg?6byy39#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-Icon .path1:before {
  content: "\e903";
  color: rgb(25, 26, 35);
}
.icon-Icon .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-twitter-with-circle:before {
  content: "\e902";
}
.icon-linkedin-with-circle:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
