// Mixins

// Px to rem conversion
@function strip-unit($value) {
    @return if(type-of($value)=='number', $value / ($value * 0 + 1), $value);
}

@function rem($px) {
    @if unit($px)=="px" {
        @return (strip-unit($px) / 16) * 1rem;
    }

    @return ($px / 16) * 1rem;
}